* {
  margin: 0;
  box-sizing: border-box;
  @include english-font;
}

html {
  width: 100vw;
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  font-size: 16PX;
  @include english-font;

  #__nuxt {
    width: 100vw;
    height: 100%;
  }
}

@media (min-width: 320px) {
  html {
    font-size: 82.0512px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 92.3076px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 96.1538px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 98.4615px;
  }
}
@media (min-width: 390px) {
  html {
    font-size: 100px;
  }
}
@media (min-width: 393px) {
  html {
    font-size: 100.7692px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 102.5641px;
  }
}
@media (min-width: 411px) {
  html {
    font-size: 105.3846px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 106.1538px;
  }
}
@media (min-width: 428px) {
  html {
    font-size: 109.7435px;
  }
}
@media (min-width: 430px) {
  html {
    font-size: 110.2564px;
  }
}
@media (min-width: 448px) {
  html {
    font-size: 114.8717px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 123.0769px;
  }
}


@media (min-width: 512px) {
  html {
    font-size: 131.2820px;
  }
}

@media (min-width: 544px) {
  html {
    font-size: 139.4871px;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 147.6923px;
  }
}
@media (min-width: 608px) {
  html {
    font-size: 155.8974px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 164.1025px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 192.3076px;
  }
}
@media (min-width: 790px) {
  html {
    font-size: 202.5641px;
  }
}


.van-dialog--round-button {
  width: 3.42rem !important;
  border-radius: 0.08rem !important;
  padding-bottom: 0.24rem !important;

  .van-dialog__header {
    font-weight: 500 !important;
    font-size: 0.22rem !important;
    line-height: 0.27rem !important;
    color: $text-high-color !important;
    padding-top: 0.24rem !important;
    text-align: center !important;
  }

  .van-dialog__message {
    @apply pt-0.08rem
    pb-0.28rem;

    padding-bottom: 0.24rem !important;

    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    color: #9e9e9e !important;
  }

  .van-action-bar {
    @apply flex
    w-full
    justify-between
    items-center;

    box-sizing: border-box;

    padding: 0 0.24rem !important;

    .van-button {
      @apply flex
      justify-center
      items-center;

      box-sizing: border-box;

      width: 1.38rem !important;
      max-width: 1.38rem !important;
      height: 0.4rem !important;
      border-radius: 0.4rem !important;

      border: 1px solid transparent;
      background-image: none;

      .van-button__text {
        height: 100%;
        line-height: 0.38rem;
      }

      &:before {
        display: none;
      }

      &:first-child {
        border-color: $border-color !important;
        @include title-font-14;
        color: $text-high-color !important;
        background-color: $white-color !important;
      }

      &:last-child {
        border-color: $primary-color !important;
        @include title-font-14;
        color: $white-color !important;
        background-color: $primary-color !important;
      }
    }
  }
}
