// color
$primary-color: #C69C6D;
$auxiliary-color: #4E8991;

$white-color: #FFFFFF;
$view-color: #F5F5F5;

$border-color: #DDDDDD;

$placeholder-color: #EFEFEF;

$text-special-color: #101010;
$text-high-color: #1E1E1E;
$text-mid-color: #444444;
$text-low-color: #999999;

$red-color: #D84639;
$green-color: #5BB318;
$yellow-color: #FFAA00;

@font-face {
  font-family: 'Sinerva';
  src: url('./Astron.otf');
}

// font
$chinese-ios-font: 'PingFang SC';
$chinese-android-font: 'Noto Sans';

$english-android-font: 'Roboto';

@mixin chinese-font() {
  font-family: $chinese-ios-font, $chinese-android-font, -apple-system, BlinkMacSystemFont microsoft yahei, sans-serif;
}

@mixin english-font() {
  font-family: $english-android-font, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

@mixin number-font() {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont Arial, sans-serif;
}

// font-weight
@mixin regular {
  font-weight: normal;
}
@mixin medium {
  font-weight: 500;
}
@mixin android-bold {
  font-weight: bold;
}

// title
@mixin title-font-26 {
  font-size: 0.26rem;
  line-height: 0.32rem;
  @include medium;
}

@mixin title-font-22 {
  font-size: 0.22rem;
  line-height: 0.27rem;
  @include medium;
}

@mixin title-font-18 {
  font-size: 0.18rem;
  line-height: 0.22rem;
  @include medium;
}

@mixin title-font-14 {
  font-size: 0.14rem;
  line-height: 0.17rem;
  @include regular;
}

// primary
@mixin primary-font-16 {
  font-size: 0.16rem;
  line-height: 0.22rem;
  @include medium;
}

@mixin primary-font-14 {
  font-size: 0.14rem;
  line-height: 0.18rem;
  @include medium;
}

@mixin primary-font-12 {
  font-size: 0.12rem;
  line-height: 0.16rem;
  @include medium;
}

// general
@mixin general-font-loose-14 {
  font-size: 0.14rem;
  line-height: 0.24rem;
  @include regular;
}

@mixin general-font-14 {
  font-size: 0.14rem;
  line-height: 0.18rem;
  @include regular;
}

@mixin general-font-loose-12 {
  font-size: 0.12rem;
  line-height: 0.20rem;
  @include regular;
}

@mixin general-font-12 {
  font-size: 0.12rem;
  line-height: 0.16rem;
  @include regular;
}
